<!DOCTYPE html>
<html lang="eng">
<head>
   <meta charset="UTF-8">
   <title> {% block title %} {% endblock %} </title>
   <link rel="shortcut icon" href="../static/img/dhn.ico">
   <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Cruceros</a>
	    <a href="{{ url_for('salinidad') }}">Salinidad</a>
	    <a href="{{ url_for('temperatura') }}">Temperatura</a>
	    <a href="{{ url_for('vsonido') }}">V.Sonido</a>
    </nav>
	<hr>
	    {% block content %} {% endblock %}
</body>
</html>