<!DOCTYPE html>
<html lang="eng">
<head>
   <meta charset="UTF-8">
   <title> {% block title %} {% endblock %} </title>
   <link rel="shortcut icon" href="../static/img/dhn.ico">
   <style>
       nav a {
           background-color: #000066;
	       color: white;
		   front-size: 3em;
		   margin-left: 50px;
		   text-decoration: none;
	   }
   </style>
</head>
<body bgcolor=”#000066">
    <nav>
        <a href="{{ url_for('index') }}">CTDApp</a>
	    <a href="#">About</a>
    </nav>
	<hr>
	    {% block content %} {% endblock %}
</body>
</html>