{% extends 'base.html' %}
{% block title %} CRUCEROS {% endblock %}
{% block content %}
   <div>
    <h1> Dirección de Hidrografía y Navegación</h1>
    <h3> Datos del año  {{ anio }}  </h3>
    <h3> Número de perfiles:  {{ tamanio }}  </h3>
  </div>
  <div>
     <form action="" method="POST">
		<br>
	    <label for="title">Año</label>
		<input type="text" name="anio"
		       placeholder="año del crucero"
			   value="{{ request.form['anio'] }}"></input>
     </form>	
  </div>
  <div class="mapa_div">
	 <iframe src="/mapa" width=800 height=650></iframe> 
	 <iframe src="/tabla" width=900 height=650></iframe>
  </div> 
{% endblock %}