{% extends 'base.html' %}
{% block title %} SALINIDAD {{ profundidad }} mts {% endblock %}
{% block content %}

  <div>
  <h1> Salinidad a {{ profundidad }} mts de profundidad </h1>
  <h2> Datos del año {{ anio }} </h2>
     <form action="" method="POST">
		<br>
	    <label for="title">Profundidad</label>
		<input type="text" name="profundidad"
		       placeholder="año del crucero"
			   value="{{ request.form['profundidad'] }}"></input>
     </form>

  <div class="mapa_div">
	 <iframe src="/mapa_salinidad" width=1200 height=800></iframe> 
  </div>    
{% endblock %}